.contacts-section {
  .columns {
    display: flex;
    flex-wrap: wrap;

    .column {
      display: flex;
      flex-direction: column;

      .glass-card {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }

    &.is-vcentered-desktop {
      @media screen and (min-width: 1024px) {
        align-items: stretch;
      }
    }
  }

  .contact-map-container {
    iframe {
      border: 0;
      flex: 1;
    }
  }
}
