.contacts-section {
  .columns {
    @media screen and (min-width: 769px) {
      display: flex;
      align-items: stretch; // Однакова висота для колонок на десктопі
    }

    .column {
      @media screen and (min-width: 769px) {
        display: flex;
        flex-direction: column;
      }

      .glass-card {
        height: 100%;
        @media screen and (min-width: 769px) {
          display: flex;
          flex-direction: column;
          flex: 1;
        }
      }
    }
  }

  .contact-map-container {
    @media screen and (max-width: 768px) {
      min-height: 300px !important;
      margin-bottom: 1.5rem;
    }
    
    iframe {
      border: 0;
      width: 100%;
      height: 100%;
      min-height: 300px;
      
      @media screen and (min-width: 769px) {
        flex: 1;
      }
    }
  }
}
